<!-- <router-outlet></router-outlet> -->

<div class="container">
  <p class="result" *ngIf="result; else noResult">
    {{ result | number: "2.2-3" | currency: toInput.toUpperCase():"symbol" }}
  </p>
  <ng-template #noResult>
    <p class="result">The result will be pasted here</p>
  </ng-template>
  <div class="inputs">
    <div class="input">
      <select
        #from
        class="select"
        name="from"
        id="from"
        [(ngModel)]="fromInput"
        (change)="onInput()"
      >
        <option *ngFor="let item of currencyIds" (value)="(item)">
          {{ item }}
        </option>
      </select>
    </div>
    <button class="rotate" (click)="onRotate()"></button>
    <div class="input">
      <select
        #to
        class="select"
        name="to"
        id="to"
        [(ngModel)]="toInput"
        ((change))="onInput()"
      >
        <option
          class="option"
          *ngFor="let item of currencyIds"
          (value)="(item)"
        >
          {{ item }}
        </option>
      </select>
    </div>
  </div>
  <button class="button" (click)="onClick()">Calculate</button>
</div>
